.header{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    width: auto;  
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}

.headerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 1rem;
    text-align: center;
}

.sideImage{
    height: 35px;
    width: 35px;
}

.logo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    margin-left: 3rem;
}

.headerIcons{
    display: flex;
    align-items: center;
    gap: 1rem;
    align-content: center;
}

.engArrow{
    display: flex;
    align-items: center;
    align-content: center;
    color: black;
}

.engArrow p{
    font-weight: 700;
}

.headerBottom{
    display: flex;
    justify-content: center;
    gap: 2rem;
   font-weight: 700;

}

.spanHome{
    display: none;
}

@media (max-width: 700px) {
   .engArrow{display: none;}
   .headerBottom{
    display: flex;
    justify-content: start;
   }
  .spanHome{
        display: inline-block;
        color:#BFC8CD ;
        font-weight: 500;
        border-right: 1px solid #BFC8CD;
        padding-right: 2rem;
    }
    .spanSkill,.spanStories,.spanAbout,.spanSkills,.spanContact{
        display: none;
    }


  }